/* frontend/src/index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FFFFFF; /* Cor de fundo escura similar à da imagem */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Garante que o body ocupe a altura total da tela */
}